*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}
.home_container{
  background-image: url("./assets/aibnbimg.jpg");
  min-width:100vw;
  min-height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.fill-blue {
  fill: blue;
}
.fill-purple {
  fill:purple;
}
.fill-red {
  fill:red;
}

.back_img{
  background:url("https://images.luxuryescapes.com/q_auto:good,c_fill,g_auto,w_1920,ar_16:9/yq0ktdb3js9u5p14etzt.webp") ;
  /* background: url("./assets//AirbnbImg2.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
}

label {
  font-size: 20px;
  margin: 8px;
}

.input {
  width: 250px;
  height: 25px;
}

input {
  font-size: 16px;
}
.row{
  display: flex;
  text-align: center;
  justify-content: center;
}
.chart2_tag{
  margin: 20px;
  font-weight: 800;
}
.back_button{
  display: flex;
  margin-top: 29px;
  align-items: flex-start;
  margin-left: 50px;
}

.home_container{
  margin: 0;
  padding: 0;
  width: 1200px;
}
.pic{
  max-width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
.home_container{
  background-color: #f5f5f5;
   /* align-items:center; */
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}
.eye {
  position: absolute;
  right: 35px;
  /* top: 50%; */
  top: calc(100% + -20px); 
  transform: translate(50%, -50%);
  width: 15px;
  cursor: pointer;
}


.bg-white {
  --tw-bg-opacity: -1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}




body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 0px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto ;
}

@keyframes colorChange {
  0% { color: var(--tw-color-red);}
  25% { color: var(--tw-color-blue); }
  50% { color: var(--tw-color-green);}
  75% { color: var(--tw-color-orange); }
  100% { color: var(--tw-color-purple);}
}
@keyframes colorChange {
  0% { color: red; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
  25% { color: blue; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
  50% { color: green; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
  75% { color: orange; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
  100% { color: purple; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
}


.animate-color-change {
  animation: colorChange 5s linear infinite;
}